<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" monitorInterval="60">

    <Properties>
        <Property name="projectName">debezium-with-mysql</Property>
        <Property name="basePath">${sys:user.home}/log/${projectName}</Property>
        <Property name="defaultPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%-22.22t] %-30.30c{1} - %msg%n
        </Property>
        <Property name="consolePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <RollingFile fileName="${basePath}/${projectName}.log"
                     filePattern="${basePath}/${projectName}.log-%d{yyyy-MM-dd-HH}.gz" name="MAIN">
            <PatternLayout pattern="${defaultPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Async name="ASYNC_MAIN">
            <AppenderRef ref="MAIN"/>
        </Async>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${consolePattern}"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger additivity="false" level="INFO" name="org.springframework">
            <appender-ref ref="ASYNC_MAIN"/>
        </Logger>

        <Logger additivity="false" level="INFO" name="io.swagger">
            <appender-ref ref="ASYNC_MAIN"/>
        </Logger>

        <Logger additivity="false" level="INFO" name="org.hibernate">
            <appender-ref ref="ASYNC_MAIN"/>
        </Logger>

        <Logger additivity="false" level="INFO" name="com.netflix">
            <appender-ref ref="ASYNC_MAIN"/>
        </Logger>

        <Logger additivity="false" level="INFO" name="org.apache">
            <appender-ref ref="ASYNC_MAIN"/>
        </Logger>

        <Root level="INFO">
            <appender-ref ref="ASYNC_MAIN"/>
            <appender-ref ref="CONSOLE"/>
        </Root>

    </Loggers>
</Configuration>